:root {
  --space-quarter: #{$space-quarter};
  --space-half: #{$space-half};
  --space-single: #{$space-single};
  --space-double: #{$space-double};
}

@media print {
  :root {
    --space-quarter: #{$space-quarter / 2};
    --space-half: #{$space-half / 2};
    --space-single: #{$space-single / 2};
    --space-double: #{$space-double / 2};
  }

  @page {
    size: auto;
    margin: 10mm;
  }
}

.onlyPrint {
  display: none;

  @media print {
    display: initial;
  }
}

.notInPrint {
  @media print {
    display: none;
  }
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 4fr;

    span:first-child {
      display: flex;
      align-items: center;

      svg {
        margin-right: var(--space-half);
      }
    }
  }
}

.container {
  h1 {
    text-align: center;
  }

  h2 {
    border-bottom: 1px solid $black;
    padding-bottom: var(--space-half);
    margin-top: var(--space-single);
    margin-bottom: var(--space-single);
  }

  h3 {
    font-size: $font-base;
    margin-bottom: var(--space-half);
  }

  h4 {
    font-size: $font-base;
  }

  h4,
  ul {
    margin-bottom: var(--space-half);
    font-size: $font-single;
  }

  p {
    font-size: $font-single;
    margin-bottom: var(--space-quarter);
  }

  li {
    margin-bottom: 0;
  }
}

.position {
  page-break-inside: avoid;
}

.positionBlock {
  margin-bottom: var(--space-single);
}

.positionTitle {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  svg {
    margin-right: var(--space-quarter);
  }

  h3 {
    margin-right: auto;
  }
}

.description {
  color: $gray-dark;
}

.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: var(--space-double);
}

@media print {
  .container {
    color-adjust: exact;
    h2 {
      margin-top: 0;
      font-size: $font-single;
    }
    h3,
    h4
    {
      font-size: $font-half;
    }

    ul,
    p {
      font-size: $font-half - 2;
    }

    a {
      text-decoration: none;
    }
  }

  .details {
    margin-bottom: var(--space-single);
  }
}
