.onlyPrint {
  //display: none;
  //
  //@media print {
  //  display: initial;
  //}
}

.notInPrint {
  @media print {
    display: none;
  }
}

.contact {
  margin-bottom: var(--space-single);
  margin-top: var(--space-single);
  display: grid;
  grid-template-columns: 1fr auto;


  .contactWrapper {
    align-self: end;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: var(--space-half);
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .item {
    span {
      display: flex;
      align-items: center;
    }

    svg {
      width: auto;
      height: $font-single;
      margin-right: var(--space-half);
    }
  }
}

.container {
  h1 {
    text-align: center;
    margin-bottom: var(--space-single);
  }

  h2 {
    border-bottom: 1px solid $black;
    padding-bottom: var(--space-half);
    margin-top: var(--space-single);
    margin-bottom: var(--space-single);
  }

  .skills h2 {
    margin-top: var(--space-half);
  }

  h3 {
    font-size: $font-base;
    margin-bottom: 0;
  }

  h4 {
    font-size: $font-base;
  }

  h4,
  ul {
    margin-bottom: var(--space-half);
    font-size: $font-single;
  }

  .skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: var(--space-double);

    @include mobile-big {
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    }
  }

  p {
    font-size: $font-single;
    margin-bottom: var(--space-quarter);
  }

  li {
    margin-bottom: 0;
  }
}

.position {
  page-break-inside: avoid;
}

.positionBlock {
  margin-bottom: var(--space-single);
}

.positionTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: var(--space-half);

  .positionHeader {
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-bottom: var(--space-half);
    @media print {
      margin-bottom: 0;
      align-items: center;
    }
  }

  svg {
    margin-right: var(--space-quarter);
    flex: none;
  }

  .logo {
    display: flex;
    margin-right: var(--space-half);

    @media print {
      margin-right: var(--space-single);
    }
  }
}

.time {
  display: flex;
  align-items: center;
}

.description {
  color: $gray-dark;
}

.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: var(--space-double);
}

@media print {
  .container {
    color-adjust: exact;
    h2 {
      margin-top: var(--space-quarter);
      font-size: $font-single;
    }
    h3,
    h4 {
      font-size: $font-half;
    }

    ul,
    p {
      font-size: $font-half - 2;
    }

    a {
      text-decoration: none;
    }
  }

  .details {
    margin-bottom: var(--space-single);
  }
}
