$font-base: 16px;
$font-single: 14px;
$font-half: 12px;

@media print {
  @page {
    size: auto;
    margin: 20mm 0 10mm 0;
  }
}

.onlyPrint {
  display: none;

  @media print {
    display: initial;
  }
}

.notInPrint {
  @media print {
    display: none;
  }
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

.container {
  h1 {
    text-align: center;
  }

  h2 {
    border-bottom: 1px solid $black;
    padding-bottom: $space-half;
    margin-top: $space-single;
    margin-bottom: $space-single;
  }

  h3 {
    font-size: $font-base;
    margin-bottom: $space-half;
  }

  h4 {
    font-size: $font-base;
  }

  h4,
  ul {
    margin-bottom: $space-half;
    font-size: $font-single;
  }

  p {
    font-size: $font-single;
    margin-bottom: $space-quarter;
  }

  li {
    margin-bottom: 0;
  }

  @media print {
    h2 {
      font-size: $font-single;
    }
    h3,
    h4,
    ul,
    p {
      font-size: $font-half;
    }
  }
}

.position {
  page-break-inside: avoid;
}

.positionBlock {
  margin-bottom: $space-single;
}

.positionTitle {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  svg {
    margin-right: $space-quarter;
  }

  h3 {
    margin-right: auto;
  }
}

.description {
  color: $gray-dark;
}

.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: $space-double;

  @media print {
    margin-bottom: $space-single;
  }
}
