.container {
  padding: {
    bottom: $space-double;
  }

  * {
    box-sizing: border-box;

    &::after,
    &::before {
      box-sizing: border-box;
    }
  }
  color: $black;

  a {
    color: $black;

    &:hover {
      color: $green;
    }
  }
}

.wrapper {
  max-width: $max-width;
  display: block;
  margin: 0 auto;

  @include max-width {
    padding: {
      left: $space-container;
      right: $space-container;
    }
  }
}
