.aboutImage {
  float: right;
  height: 150px;
  width: 150px;
  position: relative;
  margin: $space-quarter 0 $space-quarter $space-quarter;
}

.techStack {
  ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);

    @include mobile-big {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }

    li {
      display: flex;
      align-items: center;
      svg {
        margin-right: $space-quarter;
      }
    }
  }
}
