$black: #051603;
$gray: #e7e7e9;
$gray-dark: rgb(145, 145, 145);
$green: #829840;
$white: #fff;

/* Web */
$max-width: 850px;
$space-double: 32px;
$space-single: 16px;
$space-half: 8px;
$space-quarter: 4px;
$space-container: 2.5%;
$font-base: 16px;
$font-single: 14px;
$font-half: 12px;


$mobile-width: 425px;
$tablet-width: 700px;
$desktop-width: 1024px;
