.container {
  max-width: $max-width;

  margin: {
    top: 0;
    bottom: $space-double;
    left: auto;
    right: auto;
  }

  @media print {
    display: none;
  }
}

.image {
  height: 300px;
}

.wrapper {
  h1 {
    margin: {
      bottom: $space-single;
      top: $space-single;
    };
  }
  nav {
    display: flex;
    align-items: center;
  }
  a {
    margin-left: $space-half;
    text-decoration: none;
    + a {
      margin-left: $space-single;
    }

    &.active {
      text-decoration: underline;
    }
  }

  @include max-width {
    padding: {
      left: $space-container;
      right: $space-container;
    }
  }
}
