.image {
  height: 400px;
  margin-bottom: $space-double;
  border: 2px solid $gray;
}

.extraInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-double;
}

.source {
  margin-bottom: $space-double;
}
