.image {
  height: 300px;
  margin-bottom: $space-double;
}

.extraInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-double;
}
